/* Color Palette: greater number is darker color */

$red-1: #EC2E5D;
$red-2: #EA003B;
$red-3: #BE0030;
$red-4: #9A0027;
$red-5: #72001D;

$yellow-1: #FFC832;
$yellow-2: #FFBB00;
$yellow-3: #D09800;
$yellow-4: #A97C00;
$yellow-5: #7D5C00;

$blue-1: #4A38BB;
$blue-2: #2A13B5;
$blue-3: #1F0D90;
$blue-4: #180975;
$blue-5: #100457;